extends layout

block content
  h1= title
  - let items = results;

  a.btn.btn-primary(href="/instruments/create") Create New Instrument

  div(class="container-fluid")
    div(class="row m-1")
      each item in items
       - let destination = `dispatch(\"/instruments/update?id=${item._id}\")`
        div(class="row-sm2", class="m-1") Item #{item.name} of type (#{item.type}) is from #{item.year}
        button.btn(class="btn-primary ml-1", onclick=destination) Update

        a(href=`/resource/instruments/detail?id=${item._id}`, class="btn btn-info ml-1") View Details 

        a(href=`/resource/instruments/delete?id=${item._id}`, class="btn btn-danger ml-1") Delete
        
  script.
    function dispatch(path){
      window.location.href=path
    }
